<footer class="article-footer">
    {{ partial "article/components/tags" . }}

    {{/*  page pv 只在 page 显示  */}}
    {{ if and (eq .params.page_pv true) (eq .bsz_type "page-reading") }}
    <section class="busuanzi-page">      
        <span id="busuanzi_container_value_page_pv">
                {{- with .params.page_pv_pre -}}
                    {{ . | safeHTML }}
                {{ end }}
                本文浏览量: <span id="busuanzi_value_page_pv"></span> 次&nbsp;
                {{- T "views" -}}
            </span>
        </section>  
    {{ end }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        {{ partial "helper/icon" "copyright" }}
        <span>{{ default .Site.Params.article.license.default .Params.license | markdownify }}</span>
    </section>
    {{ end }}

    {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod">
        {{ partial "helper/icon" "clock" }}
        <span>
            {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}
</footer>
